<!DOCTYPE html>
<html lang="en">
<head>
	<title>Document</title>
</head>
<body>
	
	<span xmlns="http://www.w3.org/1999/xhtml" style="display: none" id="audio_template">
		<audio id="">
			<source src="" />
		</audio>

		<div style="padding: 5px 5px; font-size: 2vh">

			<span id=""></span>
			<button class="playerbutton" style="background-color: #5a5; float: right; margin-left: 2px" onclick="this.parentNode.parentNode.children[0].play(); this.parentNode.children[7].style.display = 'initial'"><i class="material-icons">play_arrow</i></button> 
			<button class="playerbutton" style="background-color: #a55; float: right; margin-left: 2px" onclick="this.parentNode.parentNode.children[0].pause(); this.parentNode.children[7].style.display = 'none'"><i class="material-icons">pause</i></button> 


			<button class="playerbutton" style="background-color: #33d; float: right; margin-left: 2px" onclick="this.parentNode.parentNode.children[0].currentTime = 0"><i class="material-icons">replay</i></button> 
			<button class="playerbutton" style="background-color: #bb3; float: right; margin-left: 2px" onclick="this.parentNode.parentNode.children[0].currentTime -= 10"><i class="material-icons">fast_rewind</i></button> 
			<button class="playerbutton" style="background-color: #bb3; float: right; margin-left: 2px" onclick="this.parentNode.parentNode.children[0].currentTime += 10"><i class="material-icons">fast_forward</i></button> 
			<button class="playerbutton" style="background-color: #bbb; float: right; margin-left: 2px" onclick="javascript:loopAudio(this);"><i class="material-icons">loop</i></button> 
			<i class="material-icons" style="display: none">volume_up</i>
		</div>
	</span>

</body>
</html>