<!DOCTYPE html>
<html lang="en">
<head>
	<title>Document</title>
</head>
<body>
	
	<span xmlns="http://www.w3.org/1999/xhtml" style="display: none" id="nav_template">
		<ul>
			<li><a id="/" href="/">Home</a></li>
			<li><a id="/about" href="/about">About</a></li>
			<li><a id="/dev" href="/dev">Development</a></li>
			<li><a id="/changelog" href="/changelog">Changelog</a></li>
			<li><a id="/videos" href="/videos">Videos</a></li>
			<li><a id="/soundtrack" href="/soundtrack">Soundtrack</a></li>
			<li><a id="/mapimgs" href="/mapimgs">Maps</a></li>
		</ul>
	</span>

</body>
</html>