<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131520225-3"></script>
	<script src="/js/googletag.js"></script>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gēns Grandis</title>
	<link href="css/navbar.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
	<style>
		body{
			overflow: auto;
		}
	</style>
</head>
<body>
	<div id="urlholder">
	</div>
</body>

<script src="/js/socket.io.js"></script>
<script src="/js/navutils.js"></script>
</html>